@font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/Inter/web/Inter-ExtraLight.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/Inter/web/Inter-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* Disable text selection for the entire page */
.hidden {
    display: none;
  }
body {
    user-select: none;
    background: linear-gradient(145deg, #1a1a2e, #262424);
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    height: 45px;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 20px;
}

.modal {
    background: #17171f;
    border-radius: 5px;
    color: white;
    height: calc(100% - 175px);
    max-width: 400px;
    padding: 10px 40px;
    min-width: 365px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateY(20px);
    display: none; /* Initially hidden */
    flex-direction: column;
}

.modal.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .modal.hide {
    opacity: 0;
    transform: translateY(20px);
  }
  .modal h2{
    text-align: center;
  }
  .modal .scroll-container{
    flex: 1;
    overflow: scroll;
  }

.open{
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    border-radius: 50%;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}
#instructions-open{
    right: 20px;
    left: auto;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.bar{
    width: 100%;
    height: 1px;
    background: white;

}

.rotate-45{
    transform: rotate(45deg);
}

.rotate-45-neg{
    transform: rotate(-45deg);
}

.perf-center{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#instructions p, #instructions li{
    font-size: 10pt;
}

#instructions ul{
    padding: 0;
}